<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="home-page">
        <div class="image">
        </div>
        <div class="login-container">
            <form action="" method="post">
                <h1>Sign In</h1>
                <div class="email">
                    <input type="text" name="username" required="required" autocomplete="off">
                    <span>Email ID</span>
                </div>
                <div class="password">
                    <input type="password" name="password" required="required">
                    <span>Password</span>
                </div>
                <div class="buttons">
                    <button type="submit" class="login">Log In</button>
                    <hr style="margin-top: 15px; margin-bottom: 15px;">
                    <a href="" class="login" style="text-align: center;"><button class="signup">Sign Up</button></a>
                </div>
                <p style="margin:10px; font-size: 12px; color: grey; text-align: center;">Don't have an account? <a href="{{ url_for('signup') }}">Sign up!</a></p>
            </form>
        </div>
    </div>
</body>
</html>
