<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="home-page">
        <div class="login-container">
            <form action="{{ url_for('signup') }}" method="post">
                <h1>Sign Up</h1>
                <div class="email">
                    <input type="text" name="username" required="required" autocomplete="off">
                    <span>Email ID</span>
                </div>
                <div class="password">
                    <input type="password" name="password" required="required">
                    <span>Password</span>
                </div>
                <div class="buttons">
                    <button type="submit" class="signup">Sign Up</button>
                </div>
            </form>
            <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a></p>
        </div>
        <div class="image">
        </div>
    </div>
</body>
</html>
